body {
	background-image: url("bg_1004.png");
	background-size: cover;
	background-repeat: no-repeat;
	color: #FFFFFF
}


.row{
	padding-top: 15px;
}

.logo {
	margin-top: 30px;
	margin-left: 15px;
}

.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
	

	
.nav-custom { 
	color: black;
	font-size: 25px;
	margin-right: 50px;
	margin-top: 0px;
	font-family: Cambria, "Hoefler Text", "Liberation Serif", "serif";
}
a.navi-link{ 
	color: black;
	font-size: 25px;
	margin-left: 0px;
	margin-top: 0px;
}
a.gallery:hover{ 
	color: black;
  	margin: 0;
	opacity: 0.8;	
}

.contact-image {
	height: 400px;
	width: auto;
	box-shadow: 6px 6px 30px #000000;
}
h1 {
	font-size: 35px;
	color: #ffffff;
}

h5 {
color: #000000;
}


.no-gutters {
  margin-right: 0;
  margin-left: 0;
}

.image-gallery {
    padding-right: 0;
    padding-left: 0;
	margin: 0px;
  	border: 1px solid #000000;
	overflow: auto;
	box-shadow: 6px 6px 30px #000000;
}
a:hover{ 
	color: red;
}

.teksti {
	color: #000000;
	font-size: 35px;
	align-content: center;
	text-shadow: 1px 1px 4px white;
	font-family: Cambria, "Hoefler Text", "Liberation Serif", "serif";
}

.bannerimage {
	display: block;
	border: 1px solid white;
	box-shadow: 6px 6px 30px #000000;
}

.front-image {
	display: block;
	border: 1px solid white;
	width: 600px;
	height: auto;
	box-shadow: 6px 6px 30px #000000;
}


@media screen and (min-width: 601px) {
.banner{
    font-size: 35px;
	  font-family: Cambria, "Hoefler Text", "Liberation Serif", "serif";
  }
}

/* If the screen size is 600px wide or less, set the font-size of <div> to 30px */
@media screen and (max-width: 600px) {
.banner{
    font-size: 15px;
	font-family: Cambria, "Hoefler Text", "Liberation Serif", "serif";
  }
}

@media screen and (min-width: 601px) {
.gallerytext{
    font-size: 35px;
	  font-family: Cambria, "Hoefler Text", "Liberation Serif", "serif";
  }
}

/* If the screen size is 600px wide or less, set the font-size of <div> to 30px */
@media screen and (max-width: 600px) {
.gallerytext{
    font-size: 15px;
	font-family: Cambria, "Hoefler Text", "Liberation Serif", "serif";
  }
}

.crmark {
	height: 50px;
  	position: absolute;
  	right: 0;
  	bottom: 0;
  	left: 0;
  	
	width: 100%;
	color: #FFFFFF;
	opacity: 0.5;
}

